.navbar-header{
	z-index: 850;
}

.navbar-header h1 {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 5px;
	padding-bottom: 10px;
}	
.navbar-header h1 {
	/* Fun text rotation */
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
}

.navbar-header h1 a {
	color:white;
	text-decoration: none;
}

#logo-title {
	padding-left: 55px;
	background-image: url(../img/gotraps-logo_64.png);
	background-repeat: no-repeat;
	overflow: visible; 
}

/* Poor attempt to keep sidebar on mobile 
@media (max-width: 768px) {
  .sidebar {
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
*/

@media (min-width: 768px) {
	.navbar-collapse.collapse.trap-list{
		display: none !important;
	}
}
.navbar-toggle{
	z-index: 860;
}

.navbar-fixed-top .navbar-collapse {
  max-height: 600px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #CCC;
}

.trap-link{
	font-weight: bold;
}

.type-green{
  content: url('/static/default/img/green_16.png');
  margin-left: -12px;
  padding-right: 5px;
  height: 14px;
}

.type-orange{
  content: url('/static/default/img/orange_16.png');
  margin-left: -12px;
  padding-right: 5px;
  height: 14px;
}

.type-red{
  content: url('/static/default/img/red_16.png');
  margin-left: -12px;
  padding-right: 5px;
  height: 14px;
}

.type-yellow{
  content: url('/static/default/img/yellow_16.png');
  margin-left: -12px;
  padding-right: 5px;
  height: 14px;
}

@media (max-width: 768px) {
  .main{
  	 margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .desktop{
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile{
    display: none;
  }
}


#overview .illustration {
	margin-top: 20px;
	margin-left: -40px;
	margin-right: 20px;
	margin-bottom: 20px;
  max-width: 95%;
}

#trap-intro code{
  color: #007;
  background-color: #f4f2f9;
}

#compile-errors{
	color: #B00;
}

#title-discussion {
	cursor: pointer;
}

a.playground {
  padding-left: 19px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  background-image: url(/static/default/img/playground_mini.png);
  background-repeat: no-repeat;
  background-position: left;
  border: 1px #DD0 solid;
  background-color: #FFD;
}

#see-also li.sep{
	margin-top: 30px;
}

.footer {
	margin-top: 60px;
	padding-top: 5px;
	padding-left: 5px;
	background-color: #f5f5f5;
}